@media (min-width: 800px) {

  .right-aligned,
  .medium {
    display: none;
  }
}

@media (max-width: 800px) {
  .medium-pages {
    

    text-align: center;
    background-color: rgb(29, 29, 29);


    display: grid;
    grid-template-columns: 1fr;
    justify-content: end;
    align-content: center;
    height: 100vh;
    width: 250px;

    box-shadow: -2px 2px 8px rgba(0, 0, 0, .3);
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2;
    background-color: rgb(29, 29, 29);

  }

  .medium-li {
    padding: 20px;
    list-style: none;
  }

  a.mediumlink {
    font-weight: bold;
    text-decoration: none;
    color: aliceblue;
    gap: 20px;


  }

  .right-aligned {


    float: right;
  }

  .icon-react {

    font-size: 2em;
    margin-top: 10px;
    margin-right: 10px;
  }

  .vaihr {
    margin: 0px 0;

    border: none;

    border-top: 1px solid brown;

    opacity: 5%;

  }


  a.mediumlink {
    position: relative;
    padding: 5px;
    color: #fff;
    text-decoration: none;
  }

  a.mediumlink:hover {
    color: brown;
  }

  a.mediumlink:before {
    /* color: brown; */
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: brown;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;

  }

  a.mediumlink:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

  .right-aligned-button {
    padding: 0px;
    margin: 0px;
    border: 0px;

    background-color: transparent;
 

    color: brown;

    position: fixed;
    top: 5px;
    right: 10px;

    z-index: 10;
  }



}