.div-intro{
  align-items: center;
  justify-content: center;
  text-align: center;

  letter-spacing: 2px;

  /* padding-top: 15px; */
}

.text-focus-in {
  
  font-size: 5vw;
  /* padding-bottom: 10px; */
text-shadow: 0px 0px 15px rgba(149, 117, 222, 0.69);

  -webkit-animation: text-focus-in 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: text-focus-in 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}


@media (max-width: 600px) {
  .div-intro>h1{
    font-size: 30px;
    }
  }
    